# Analisis Association Rule Menggunakan Algoritma Apriori

Dataset yang digunakan adalah **Groceries Dataset**.  

Analisis ini bertujuan untuk menemukan pola keterkaitan antar produk berdasarkan data transaksi menggunakan algoritma **Apriori**.

# Instalasi Library

In [2]:
!pip install pandas
!pip install numpy
!pip install apyori

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.4.0)
Requirement already satisfied: apyori in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (1.1.2)

# Import Library

In [3]:
# Memanggil library yang dibutuhkan
import pandas as pd
import numpy as np
from apyori import apriori

# Proses Perhitungan Apriori

# Persiapan Dataset

In [4]:
# Membaca dataset Groceries menggunakan pandas
df = pd.read_csv(
    "D:/Folder SEMESTERAN/Semester 5/Business Intelegence - Data Mining/uas/Kel2-AlgoritmaApriori-Groceries_dataset.csv",
    sep=';'
)

# Menampilkan 5 data teratas untuk memastikan data berhasil dimuat
df.head()

   number        Date                                 itemDescription
0       1  21/07/2015  tropical fruit, whole milk, rolls/buns, yogurt
1       2  05/01/2015         pip fruit, citrus fruit, tropical fruit
2       3  19/09/2015              whole milk, butter, yogurt, pastry
3       4  12/12/2015         other vegetables, root vegetables, beef
4       5  01/02/2015                           chicken, sausage, ham

# Data Cleaning

In [5]:
# Menghapus data yang memiliki nilai kosong (missing value)
df = df.dropna()

# Mengubah tipe data kolom itemDescription menjadi string
# agar dapat diproses pada tahap pemisahan item
df['itemDescription'] = df['itemDescription'].astype(str)
df.head()

   number        Date                                 itemDescription
0       1  21/07/2015  tropical fruit, whole milk, rolls/buns, yogurt
1       2  05/01/2015         pip fruit, citrus fruit, tropical fruit
2       3  19/09/2015              whole milk, butter, yogurt, pastry
3       4  12/12/2015         other vegetables, root vegetables, beef
4       5  01/02/2015                           chicken, sausage, ham

# Membuat Training Data

In [6]:
# Membentuk data transaksi (list of items)
trx = df['itemDescription'].str.split(', ')

trx[:5]

0    [tropical fruit, whole milk, rolls/buns, yogurt]
1           [pip fruit, citrus fruit, tropical fruit]
2                [whole milk, butter, yogurt, pastry]
3           [other vegetables, root vegetables, beef]
4                             [chicken, sausage, ham]
Name: itemDescription, dtype: object

# Penerapan Algoritma Apriori
Pada tahap ini, algoritma Apriori digunakan untuk menemukan aturan asosiasi antar produk berdasarkan data transaksi. 
Parameter yang digunakan adalah minimum support sebesar 60%, minimum confidence sebesar 3, dan minimum lift sebesar 1. 
Hasil dari proses ini berupa kumpulan association rules yang menunjukkan hubungan antar item yang sering dibeli bersamaan.

In [7]:
from apyori import apriori

rules = apriori(
    trx,
    min_support=0.06,
    min_confidence=0.3,
    min_lift=1,
)

results = list(rules)

# Menampilkan Hasil Perhitungan

In [8]:
# Mengatur agar lebar kolom DataFrame bisa menampilkan teks panjang
pd.set_option('max_colwidth', 1000)

# Menyediakan list kosong untuk menampung hasil aturan asosiasi
rows = []

# Melakukan iterasi pada hasil algoritma Apriori
for item in results:
    support = item[1]  # Nilai support untuk itemset
    for rule in item[2]:
        # Menyaring aturan dengan nilai lift tidak sama dengan 1
        if rule[3] != 1:
            rows.append({
                # Membentuk format aturan asosiasi (A -> B)
                'Rule': str(list(rule[0])) + " -> " + str(list(rule[1])),
                
                # Mengubah nilai support ke dalam bentuk persentase
                'Support': f"{round(support * 100, 2)}%",
                
                # Mengubah nilai confidence ke dalam bentuk persentase
                'Confidence': f"{round(rule[2] * 100, 2)}%",
                
                # Menampilkan nilai lift dengan 2 angka di belakang koma
                'Lift': round(rule[3], 2)
            })

# Mengonversi hasil aturan asosiasi ke dalam DataFrame
Result = pd.DataFrame(rows)

# Menampilkan tabel hasil association rules
Result

                                              Rule Support Confidence  Lift
0                             ['beef'] -> ['pork']    7.0%     51.85%  7.41
1                             ['pork'] -> ['beef']    7.0%     100.0%  7.41
2                           ['beef'] -> ['turkey']    6.5%     48.15%  7.41
3                           ['turkey'] -> ['beef']    6.5%     100.0%  7.41
4                ['berries'] -> ['tropical fruit']    6.5%     86.67%  3.27
5         ['bottled water'] -> ['misc. beverages']    7.0%     51.85%  7.41
6         ['misc. beverages'] -> ['bottled water']    7.0%     100.0%  7.41
7                   ['citrus fruit'] -> ['yogurt']    6.5%     86.67%  3.54
8                        ['ham'] -> ['rolls/buns']    6.5%      61.9%  3.75
9                        ['rolls/buns'] -> ['ham']    6.5%     39.39%  3.75
10     ['other vegetables'] -> ['root vegetables']    8.0%     59.26%  7.41
11     ['root vegetables'] -> ['other vegetables']    8.0%     100.0%  7.41
12            ['rolls/buns'] -> ['tropical fruit']    9.5%     57.58%  2.17
13            ['tropical fruit'] -> ['rolls/buns']    9.5%     35.85%  2.17
14            ['tropical fruit'] -> ['whole milk']   11.0%     41.51%  2.31
15            ['whole milk'] -> ['tropical fruit']   11.0%     61.11%  2.31
16                ['tropical fruit'] -> ['yogurt']   10.5%     39.62%  1.62
17                ['yogurt'] -> ['tropical fruit']   10.5%     42.86%  1.62
18                    ['whole milk'] -> ['yogurt']   11.5%     63.89%  2.61
19                    ['yogurt'] -> ['whole milk']   11.5%     46.94%  2.61
20  ['whole milk'] -> ['yogurt', 'tropical fruit']    7.5%     41.67%  3.97
21  ['yogurt'] -> ['tropical fruit', 'whole milk']    7.5%     30.61%  2.78
22  ['tropical fruit', 'whole milk'] -> ['yogurt']    7.5%     68.18%  2.78
23  ['yogurt', 'tropical fruit'] -> ['whole milk']    7.5%     71.43%  3.97
24  ['yogurt', 'whole milk'] -> ['tropical fruit']    7.5%     65.22%  2.46

# Kesimpulan

Berdasarkan hasil analisis Association Rule menggunakan algoritma Apriori pada Groceries Dataset, dapat disimpulkan bahwa terdapat pola keterkaitan yang kuat antar beberapa produk yang sering dibeli secara bersamaan oleh pelanggan.

Hasil analisis menunjukkan bahwa pasangan produk seperti **beef dan pork**, **turkey dan beef**, serta **bottled water dan misc. beverages** memiliki nilai **confidence hingga 100%** dan **lift yang tinggi (>7)**. Hal ini menunjukkan bahwa ketika satu produk dibeli, produk pasangannya hampir selalu ikut dibeli, serta hubungan antar produk tersebut sangat kuat.

Selain itu, produk **whole milk, tropical fruit, dan yogurt** juga menunjukkan pola pembelian yang konsisten dengan nilai support dan confidence yang cukup tinggi. Kombinasi produk ini sering muncul dalam transaksi, sehingga berpotensi dimanfaatkan untuk strategi promosi bundling atau penempatan produk yang berdekatan.

Secara keseluruhan, algoritma Apriori berhasil mengidentifikasi pola pembelian pelanggan yang dapat digunakan sebagai dasar pengambilan keputusan bisnis, seperti strategi cross-selling, rekomendasi produk, dan optimasi tata letak produk di toko.